.title {
    font-size: 2rem;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 700;
}

.btn-text {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 400;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
}

.icn {
    padding: 0 0.5rem 0 0.5rem;
}